* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* heading */
h1 {
    color: green;
    margin: 20px 0;
}

.tasks {
    margin-left: 50px;
}

.tasks li {
    margin-bottom: 20px;
}

.tasks li a {
    font-size: 20px;
    color: #000;

}